{% extends "AcmePizzaBundle::widgets.html.twig" %}

{% block field__row %}
    <div>
        {{ renderer.label }}
        {{ renderer.errors }}
        {{ renderer.widget }}
    </div>
{% endblock field__row %}

{% block form__widget %}
    {{ block('field__rows') }}
    {{ renderer.rest }}
{% endblock form__widget %}
