<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/acmepizza/css/main.css') }}" />
        <title>{% block title "Acme Pizza" %}</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    </head>
    <body>

        <div class="header">
            <div class="hgroup">
                <h1>Acme Pizza</h1>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="{{ path("acmepizza_order_index")  }}">Order - Create</a></li>
                    <li><a href="{{ path("acmepizza_order_list")   }}">Order - List  </a></li>
                    <li><a href="{{ path("acmepizza_pizza_create") }}">Pizza - Create</a></li>
                    <li><a href="{{ path("acmepizza_pizza_list")   }}">Pizza - List  </a></li>
                </ul>
            </div>
        </div>

        <hr />

        {% block content %}
        {% endblock %}

    </body>
</html>
