{% extends "AcmePizzaBundle::div_layout.html.twig" %}

{% block field_row %}
    <tr>
        <td>
            {{ form_label(form) }}
        </td>
        <td>
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </td>
    </tr>
{% endblock field_row %}

{% block form_errors %}
    {% if errors|length > 0 %}
    <tr>
        <td colspan="2">
            {{ block('field_errors') }}
        </td>
    </tr>
    {% endif %}
{% endblock form_errors %}

{% block hidden_row %}
    <tr style="display: none">
        <td colspan="2">
            {{ form_widget(form) }}
        </td>
    </tr>
{% endblock hidden_row %}

{% block repeated_errors %}
    {{ block('form_errors') }}
{% endblock repeated_errors %}

{% block form_widget %}
    <table {{ block('attributes') }}>
        {{ block('field_rows') }}
        {{ form_rest(form) }}
    </table>
{% endblock form_widget %}
