{% extends "AcmePizzaBundle::layout.html.twig" %}

{% block title parent() ~ " - Pizza - Create" %}

{% block content %}

<h2>Create a Pizza</h2>

{#
{{ form.setTemplate("AcmePizzaBundle::table_layout.html.twig") }}
{{ form.setTemplate("AcmePizzaBundle::div_layout.html.twig") }}
#}

{{ form.setTemplate("AcmePizzaBundle::dl_layout.html.twig") }}

{#
<form method="post" action="#" {{ form.enctype }}>
    {{ form.errors }}

    {% for field in form %}
        {{ field.label('My label') }}
        {{ field.errors }}
        {{ field.widget }}
    {% endfor %}

    {{ form.rest }}
    <input type="submit" />
</form>
#}

<form method="post" action="{{ path("acmepizza_pizza_create") }}" {{ form.enctype }}>
    {{ form.widget }}

    {{ form.rest }}
    <input type="submit" />
</form>

{% endblock %}
