{% form_theme form _self %}
{% use 'TwigBundle:Form:div_layout.html.twig' %}

{% block _order_items_row %}
<table>
    <caption>{{ form_label(form) }}</caption>
    <thead>
        <tr>
            {# what happens if not expandable #}
            <th>{{ form_label(form.children['$$name$$'].pizza) }}</th>
            <th>{{ form_label(form.children['$$name$$'].count) }}</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for child in form.children %}
        <tr>
            <td>
                {{ form_errors(child.pizza) }}
                {{ form_widget(child.pizza) }}
            </td>
            <td>
                {{ form_errors(child.count) }}
                {{ form_widget(child.count) }}
            </td>
            <td>
                <ul>
                    <li><a href="#">Add</a></li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ form_rest(form) }}
{% endblock %}

{% block form_widget %}
    {{ block('field_rows') }}
    {{ form_rest(form) }}
{% endblock %}

{% extends "AcmePizzaBundle::layout.html.twig" %}

{% block title parent() ~ " - Order" %}

{% block content %}

<h2>Order a Pizza</h2>

<p>Hello customer! We want to serve you a yummy-yummy Pizza!</p>

<form method="post" action="{{ path("acmepizza_order_index") }}" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" />
</form>

<script>
    var prototype;
    prototype = $('*[name*="$$name$$"]:first').closest('tr');
    prototype.find('input, select').attr('disabled', true);
    prototype.hide();

    var button = prototype.find('a');
    button.click(function(event) {
        event.preventDefault();

        var index = prototype.parent().find(' > tr').size() - 1;

        row = prototype.clone(true);
        row.find('*[disabled]').removeAttr('disabled');
        row.find('*[name*="$$name$$"]').each(function() {

            var attribute;

            attribute = 'id';
            $(this).attr(attribute, $(this).attr(attribute).replace(/\$\$name\$\$/g, index));

            attribute = 'name';
            $(this).attr(attribute, $(this).attr(attribute).replace(/\$\$name\$\$/g, index));
        });
        prototype.closest('tbody').append(row);
        row.show();
    });

    if (prototype.parent().find(' > tr').length == 1) {
        button.click();
    }

    /* ...known customer... */

    var toggle = !true;

    $('input[name="{{ form.known_customer.get('name') }}"]').change(function() {

        if ($(this).is(':checked')) {

            var $$ = $('input[name="{{ form.known_phone.get('name') }}"]:first').closest('div');
            $$.find('input').attr('disabled', false);
            if (toggle) $$.show();

            var $$ = $('label:contains("Address"):first').closest('div');
            $$.find('input').attr('disabled', true);
            if (toggle) $$.hide();
        } else {
            var $$ = $('label:contains("Address"):first').closest('div');
            $$.find('input').attr('disabled', false);
            if (toggle) $$.show();

            var $$ = $('input[name="{{ form.known_phone.get('name') }}"]:first').closest('div');
            $$.find('input').attr('disabled', true);
            if (toggle) $$.hide();
        }

    });

    $('input[name="{{ form.known_customer.get('name') }}"]').change()
</script>

{% endblock %}
