{% extends "AcmePizza::layout.html.twig" %}

{% block title parent() ~ " - Order" %}

{% block content %}

<h1>Order a Pizza</h1>

<p>Hello customer! We want to serve you a yummy-yummy Pizza!</p>

<form method="post" action="{{ path("pizza_order_index") }}">

    <div class="error">
        {{ form.errors }}
    </div>

    <div>
        {{ form.knownCustomer.label("Have you ordered at ACME Pizza before?") }}
    </div>

    <div>
        <div class="error">
            {{ form.knownCustomer.errors }}
        </div>
        {{ form.knownCustomer.widget({"class": "customerKnownBefore"}) }}
    </div>

    <div class="order-known-customer">
        <p>{{ form.knownPhone.label("Please enter your phone-number so we can find your address:") }}</p>
        <div class="error">
            {{ form.knownPhone.errors }}
        </div>
        {{ form.knownPhone.widget }}
    </div>

    <div class="order-new-customer">
        <p>Please enter your address:</p>
        {{ form.address.row }}
    </div>

    <hr />

    <div>
        <h3>{{ form.items.label("Select your choice of Pizza") }}</h3>
        <div class="error">
            {{ form.items.errors }}
        </div>

        <div class="order-pizza-items">
        {% for key, item in form.items %}
            <div {% if key == "$$name$$" %}class="order-pizza-prototype" style="display:none";{% endif %}>
                {{ item.widget }}
            </div>
        {% endfor %}
        </div>

        <a href="#" class="order-more-pizza">Another pizza</a>
    </div>

    <hr />

    {{ form.rest }}

    <input type="submit" value="Gimme this Pizza, Pronto!" />

</form>

<script type="text/javascript">
<!--
    $(document).ready(function() {

        $('.order-pizza-prototype').find('input, select').attr('disabled', true);

        $("#{{ form.knownCustomer.var('id') }}").change(function() {
            if (parseInt($(this).val()) == 1) {

                var $$ = $(".order-known-customer");
                $$.find('input').attr('disabled', false);
                $$.show();

                var $$ = $(".order-new-customer");
                $$.find('input').attr('disabled', true)
                $$.hide();

            } else {

                var $$ = $(".order-new-customer");
                $$.find('input').attr('disabled', false);
                $$.show();

                var $$ = $(".order-known-customer");
                $$.find('input').attr('disabled', true)
                $$.hide();

            }
        }).trigger('change');

        $(".order-more-pizza").click(function() {
            var numPizzas = $(this).find("div").length;

            var $$ = $(".order-pizza-prototype").first().clone().show();
            $$.find("input, select").attr("disabled", false);

            var pattern = /\$\$name\$\$/g;
            $(".order-pizza-items").append($$.html().replace(pattern, numPizzas));

            return false;

        }).click();
    });

-->
</script>

{% endblock %}
