{% extends "AcmePizzaBundle::layout.html.twig" %}

{% block title parent() ~ " - Order" %}

{% block content %}

<h1>Order a Pizza</h1>

<p>Hello customer! We want to serve you a yummy-yummy Pizza!</p>

<form method="post" action="{{ path("pizza_order") }}">

{{ form.errors }}

<div>
{{ form.knownCustomer.label("Have you ordered at ACME Pizza before?") }}
</div>

<div>
{{form.knownCustomer.errors}}

{{ form.knownCustomer.widget({"class":"customerKnownBefore"}) }}
</div>

<div class="order-known-customer" style="display:none;">
    <p>{{ form.knownPhone.label("Please enter your phone-number so we can find your address:") }}</p>

    {{form.knownPhone.errors}}

    {{form.knownPhone.widget}}
</div>

<div class="order-new-customer" style="display:none;">
    <p>Please enter your address:</p>

    {{ form.address.row }}
</div>

<div>
    <h3>{{form.items.label("Select your choice of Pizza")}}</h3>

    {{form.items.errors}}

<div class="order-pizza-items">
{% for key,item in form.items %}
    <div {% if key == "$$name$$" %}class="order-pizza-prototype" style="display:none";{% endif %}>
        {{item.widget}}
    </div>
{% endfor %}
</div>

    <a href="#" class="order-more-pizza">Another pizza</a>
</div>

    {{form.rest}}

    <input type="submit" value="Gimme this Pizza, Pronto!" />

</form>

<script type="text/javascript">
<!--
    $(document).ready(function() {
        $("#{{form.knownCustomer.var('id')}}").change(function() {
            var val = parseInt($(this).val());
            if (val == 1) {
                $(".order-known-customer").show();
                $(".order-new-customer").hide();
            } else {
                $(".order-known-customer").hide();
                $(".order-new-customer").show();
            }
        }).trigger('change');
        $(".order-more-pizza").click(function() {
            var numPizzas = $(this).find("div").length;
            var pizza = $(".order-pizza-prototype").first().clone().css('display', '');
            $(".order-pizza-items").append(pizza.html().replace('$$name$$', "pizza"+numPizzas, 'g'));
            return false;
        });
    });
-->
</script>

{% endblock %}
