{% extends "AcmePizzaBundle::layout.html.twig" %}

{#
{% form_theme form "AcmePizzaBundle::table_layout.html.twig" %}
{% form_theme form "AcmePizzaBundle::div_layout.html.twig" %}
#}

{% block title parent() ~ " - Order" %}

{% block content %}

<h2>Order a Pizza</h2>

<p>Hello customer! We want to serve you a yummy-yummy Pizza!</p>

{% if not true %}

<form method="post" action="{{ path("acmepizza_order_index") }}" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    {{ form_rest(form) }}
    <input type="submit" />
</form>

<script>
    /* ...another pizzas... */

    var button;
    button = $('<a href="#">Another pizza</a>');
    button.click(function(event) {
        event.preventDefault();

        var index = prototype.parent().find(' > div').size() - 1;

        var html = prototype.html();
        html = html.replace(/ disabled=".*?"/g, "");
        html = html.replace(/\$\$name\$\$/g, index)

        $(this).before("<div>" + html + "</div>");
    });

    var prototype;
    prototype = $('label:contains("$$name$$"):first').closest('div');
    prototype.find('input, select').attr('disabled', true);
    prototype.parent().append(button);
    prototype.hide();

    /* if no pizzas already in list */
    if (prototype.parent().find(' > div').length == 1) {
        button.click();
    }
</script>

{% else %}

<form method="post" action="{{ path("acmepizza_order_index") }}" {{ form_enctype(form) }}>

    {{ form_row(form.known_customer) }}
    {{ form_row(form.known_phone)    }}
    {{ form_row(form.address)        }}

    <table>
        <caption>{{ form_label(form.items) }}</caption>
        <thead>
            <tr>
                <th>Pizza</th> {#- should be better to get the label #}
                <th>Count</th> {#- here too #}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in form.items %}
            <tr>
                <td>
                    {{ form_widget(item.pizza) }}
                    {{ form_errors(item.pizza) }}
                </td>
                <td>
                    {{ form_widget(item.count) }}
                    {{ form_errors(item.count) }}
                </td>
                <td>
                    <ul>
                        <li><a href="#">Add</a></li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ form_rest(form) }}

    <input type="submit" />

</form>

<script>
    var prototype;
    prototype = $('*[name*="$$name$$"]:first').closest('tr');
    prototype.find('input, select').attr('disabled', true);
    prototype.hide();

    var button = prototype.find('a');
    button.click(function(event) {
        event.preventDefault();

        var index = prototype.parent().find(' > tr').size() - 1;

        row = prototype.clone(true);
        row.find('*[disabled]').removeAttr('disabled');
        row.find('*[name*="$$name$$"]').each(function() {

            var attribute;

            attribute = 'id';
            $(this).attr(attribute, $(this).attr(attribute).replace(/\$\$name\$\$/g, index));

            attribute = 'name';
            $(this).attr(attribute, $(this).attr(attribute).replace(/\$\$name\$\$/g, index));
        });
        prototype.closest('tbody').append(row);
        row.show();
    });

    if (prototype.parent().find(' > tr').length == 1) {
        button.click();
    }
</script>

{% endif %}

<script>
    /* ...known customer... */

    var toggle = !true;

    $('input[name="{{ form.known_customer.get('name') }}"]').change(function() {

        if ($(this).is(':checked')) {

            var $$ = $('input[name="{{ form.known_phone.get('name') }}"]:first').closest('div');
            $$.find('input').attr('disabled', false);
            if (toggle) $$.show();

            var $$ = $('label:contains("Address"):first').closest('div');
            $$.find('input').attr('disabled', true);
            if (toggle) $$.hide();
        } else {
            var $$ = $('label:contains("Address"):first').closest('div');
            $$.find('input').attr('disabled', false);
            if (toggle) $$.show();

            var $$ = $('input[name="{{ form.known_phone.get('name') }}"]:first').closest('div');
            $$.find('input').attr('disabled', true);
            if (toggle) $$.hide();
        }

    });

    $('input[name="{{ form.known_customer.get('name') }}"]').change()
</script>

{% endblock %}
