{% extends "AcmePizzaBundle::layout.html.twig" %}

{% block title parent() ~ " - Order" %}

{% block content %}

<h2>Order a Pizza</h2>

<p>Hello customer! We want to serve you a yummy-yummy Pizza!</p>

{% if true %}

{# {{ form.setTemplate("AcmePizzaBundle::div_layout.html.twig") }} #}

<form method="post" action="{{ path("acmepizza_order_index") }}" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    {{ form_rest(form) }}
    <input type="submit" />
</form>

<script type="text/javascript">
<!--
    /* ...known customer (yes/no) */

    var toggle = !true;

    $('input[name="{{ form.knownCustomer.get('name') }}"]').change(function() {
        if ($(this).val() == 1) {
            var $$ = $('label:contains("Knownphone"):first').closest('div');
            $$.find('input').attr('disabled', false);
            if (toggle) $$.show();

            var $$ = $('label:contains("Address"):first').closest('div');
            $$.find('input').attr('disabled', true);
            if (toggle) $$.hide();
        } else {
            var $$ = $('label:contains("Address"):first').closest('div');
            $$.find('input').attr('disabled', false);
            if (toggle) $$.show();

            var $$ = $('label:contains("Knownphone"):first').closest('div');
            $$.find('input').attr('disabled', true);
            if (toggle) $$.hide();
        }
    });

    $('input[name="{{ form.knownCustomer.get('name') }}"]:checked').change()

    /* ...another pizzas */

    var button;
    button = $('<a href="#">Another pizza</a>');
    button.click(function(event) {
        event.preventDefault();

        var index = prototype.parent().find(' > div').size() - 1;

        var html = prototype.html();
        html = html.replace(/ disabled=".*?"/g, "");
        html = html.replace(/\$\$name\$\$/g, index)

        $(this).before("<div>" + html + "</div>");
    });

    var prototype;
    prototype = $('label:contains("$$name$$"):first').closest('div');
    prototype.find('input, select').attr('disabled', true);
    prototype.parent().append(button);
    prototype.hide();

    /* if no pizzas already in list */
    if (prototype.parent().find(' > div').length == 1) {
        button.click();
    }
-->
</script>

{% else %}

<form method="post" action="{{ path("pizza_order_index") }}">

    <div class="error">
        {{ form.errors }}
    </div>

    <div>
        {{ form.knownCustomer.label("Have you ordered at ACME Pizza before?") }}
    </div>

    <div>
        <div class="error">
            {{ form.knownCustomer.errors }}
        </div>
        {{ form.knownCustomer.widget({"class": "customerKnownBefore"}) }}
    </div>

    <div class="order-known-customer">
        <p>{{ form.knownPhone.label("Please enter your phone-number so we can find your address:") }}</p>
        <div class="error">
            {{ form.knownPhone.errors }}
        </div>
        {{ form.knownPhone.widget }}
    </div>

    <div class="order-new-customer">
        <p>Please enter your address:</p>
        {{ form.address.row }}
    </div>

    <hr />

    <div>
        <h3>{{ form.items.label("Select your choice of Pizza") }}</h3>

        {{ form.items.errors }}

        {% for item in form.items %}
            <div class="item">
                {{ item.widget }}
            </div>
        {% endfor %}
    </div>

    <hr />

    {{ form.rest }}

    <input type="submit" value="Gimme this Pizza, Pronto!" />

</form>

<script type="text/javascript">
<!--
    /* ...known customer (yes/no) */
    /* asterisk is used to match input or select */

    $('*[name="{{ form.knownCustomer.var('name') }}"]').change(function() {
        if ($(this).val() == 1) {
            var $$ = $(".order-known-customer");
            $$.find('input').attr('disabled', false);
            $$.show();

            var $$ = $(".order-new-customer");
            $$.find('input').attr('disabled', true)
            $$.hide();
        } else {
            var $$ = $(".order-new-customer");
            $$.find('input').attr('disabled', false);
            $$.show();

            var $$ = $(".order-known-customer");
            $$.find('input').attr('disabled', true)
            $$.hide();
        }
    });

    $('*[name="OrderFormType[knownCustomer]"]').change();

    {#
    $('input[name="OrderFormType[knownCustomer]"]:checked').change();
    #}

    /* ...another pizzas */

    var button;
    button = $('<a href="#">Another pizza</a>');
    button.click(function(event) {
        event.preventDefault();

        var index = prototype.parent().find(' > div').size() - 1;

        var html = prototype.html();
        html = html.replace(/ disabled=".*?"/g, "");
        html = html.replace(/\$\$name\$\$/g, index)

        $(this).before("<div>" + html + "</div>");
    });

    var prototype;
    prototype = $('div.item:first');
    prototype.find('input, select').attr('disabled', true);
    prototype.parent().append(button);
    prototype.hide();

    /* if no pizzas already in list */
    if (prototype.parent().find(' > div.item').length == 1) {
        button.click();
    }
-->
</script>

{% endif %}

{% endblock %}
