{% extends "AcmePizzaBundle::layout.html.twig" %}

{% block title parent() ~ " - Order - List" %}

{% block content %}

{% for order in orders %}

    <h2>Order #{{ order.id }}</h2>

    <dl>
        <dt>Name</dt>
        <dd>{{ order.customer.name }}<dd>

        <dt>Street</dt>
        <dd>{{ order.customer.street }}<dd>

        <dt>City</dt>
        <dd>{{ order.customer.city }}<dd>

        <dt>Phone</dt>
        <dd>{{ order.customer.phone }}<dd>
    </dl>

    <table>
        <thead>
            <tr>
                <th>Pizza</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items %}
            <tr>
                <td>{{ item.pizza.name  }}</td>
                <td>{{ item.count       }}</td>
                <td>{{ item.pizza.price }}</td>
                <td>{{ item.total }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3">Total</th>
                <td>{{ order.total }}</td>
            </tr>
        </tfoot>
    </table>

    <a href="{{ path("acme_pizza_order_show", {"id": order.id}) }}">Show</a>

    <hr />

{% endfor %}

{% endblock %}
